<h2>Unit Converter</h2>
<div id="main">
    <div id="camera">

    </div>
    <div id="app">
        <h2>unit converter</h2>
        <div class="input-div">
            <label for="">Feet</label>
            <input type="Number" id="feet" class="input" [(ngModel)]="feet" (keyup)="converter()">
        </div>
        <div class="input-div">
            <h1>=</h1>
        </div>
        <div class="input-div">
            <label for="">Inch</label>
            {{inch}}
            <input type="Number" id="inch" class="input" [(ngModel)]="feet">
        </div>
    </div>
    <div id="nav1">

    </div>
    <div id="nav2">

    </div>
    <div id="nav3">

    </div>
</div>